*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 10px;
  background-color: lightgray;
  font-family: sans-serif;
}


.linus {
text-align: center;
margin-top: 70px;
color: darkgrey;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#0f5800;
}

ul.nav > li {
  float: left;
}

ul.nav > li a {
  display: block;
  color:#5da900;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav > li a:hover{
  background-color: #5da900;
  color: #0f5800;
}

ul.nav > li > a.active {
  background-color:  #5da900;
  color: #0f5800; 
}

.text-next-to-img {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 1rem;
  }

  .text-next-to-img > .text {
    padding: 1rem 2rem;
  }

  .text-next-to-img > img {
    width: 100%;
  }

  .container-with-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container-with-bg > div.content {
    color: rgb(255, 255, 255);
    z-index: 1;
  }

  .container-with-bg > div.bg-img {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
  }

  .row{
   display: flex;
  }

  .texte {
    padding: 1rem 2rem;
  }
