*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  padding: 20px;
  padding-right: 100%;
}

.navbar {
  border: 2px solid black;
  color: black;
  padding: 20px;
  text-decoration: none;

}

.selectednav {
border: 5px solid black;
padding: 20px;
text-decoration: none;
padding-right: 100%; padding-left: 20px;
margin: auto;
background-color: black;
color: white;
}



.home {
  text-align: center;
}

.linus {
text-align: center;
margin-top: 340px;
color: darkgrey;
}
