*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  padding: 20px;
}


.navbar > li > a {
  border: 2px solid black;
  padding: 20px;
  color: black;
  text-decoration: none;
}


.home {
  text-align: center;
}

.linus {
text-align: center;
margin-top: 340px;
color: darkgrey;
}
