*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  padding: 20px;
}



.selectednav {
border: 5px solid black;
padding: 20px;
text-decoration: none;
padding-left: 20px; padding-right: 20px;
width: 80px;
height: 40px;
margin: auto;
background-color: black;
color: white;
}



.home {
  text-align: center;
}

.linus {
text-align: center;
margin-top: 340px;
color: darkgrey;
}
